# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Trash notebook
/home/alya/phyloDCA_public/asr_betaLac_full_tree.ipynb


asr_betaLac_full_tree.ipynb
asr_timing_plot.png
example_usage.ipynb
asr_results/*
betaLac_ASR/*
cleaned_data_and_inferred_tree/*
output_betaLac_asr/*
output_betaLac_candidates/*
shuffled_msa_from_posterior/*
top_candidates/*
consensus_sequences_betaLac/*

example_usage copy.ipynb
generate_documentation.py
